<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    生命周期的配置 LifeCycle Config 方式一用配置文件:两种tag init-method destroy-~ 初始方法 摧毁方法 方式二: 用接口 见 BookDAOImpl-->
    <bean id="bookDAO" name="dao" class="com.joey.dao.Imp.BookDAOImpl" init-method="init" destroy-method="destroy1"/>

    <bean id="bookService" class="com.joey.service.Imp.BookServiceImpl">

        <property name="bookDAO" ref="bookDAO"/>
    </bean>


</beans>