<?xml version="1.0" encoding="UTF-8"?>

<!--       9.2定义context命名空间 Step1:   xmlns:context="http://www.springframework.org/schema/context"-->
<!--Step2:       http://www.springframework.org/schema/context-->
<!--        http://www.springframework.org/schema/context/spring-beans.xsd-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
        ">



<!--9.1数据源对象管理-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
<!--        9.1-->
        <!--    用setter注入-->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/spring_db"></property>
        <property name="username" value="root"></property>
        <property name="password" value="abc123"></property>
    </bean>

    <bean id="dataSource1" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!--    用setter注入 三个关键字 property name value-->

        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/spring_db"></property>
        <property name="user" value="root"></property>
        <property name="password" value="abc123"></property>
    </bean>

    <!--       9.2使用context命名空间加载properties 文件-->

    <context:property-placeholder location="classpath*:jdbc.properties"/>

    <bean id="dataSource3" class="com.alibaba.druid.pool.DruidDataSource">
        <!--        9.1-->
        <!--    用setter注入-->
        <property name="driverClassName" value="${jdbc.className}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
</beans>